:root {
    --clr: #181818;
}



/*#      Scroll Bar      */

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #1d2325;

}

::-webkit-scrollbar-thumb {
    background: rgb(100, 100, 100);
}

::-webkit-scrollbar-thumb:hover {
    background: gray;
}

/*#      Scroll Bar      */


/*#      Navigation Button      */

.all {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 190vh;
}

.navigation {
    width: 350px;
    height: 70px;
    background: #fff;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigation ul {
    display: flex;
    width: 350px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}

.navigation ul li.active a .icon {
    transform: translateY(-35px);
}

.navigation ul li a .text {
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);

}

.indicator {
    position: absolute;
    top: -50%;
    width: 58px;
    height: 58px; 
    background: #29fd53;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
}

.indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    /* box-shadow: 1px -10px 0 0 var(--clr); */
}

.indicator::after  {
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    /* box-shadow: -1px -10px 0 0 var(--clr); */
}

.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 3));
}

/*#      Navigation Button      */

/*#      Background Bubbles       */

.container 
{
	position: fixed;
	width: 1850px;
	height: 950px;
	overflow: hidden;
}
.bubbles 
{
	position: relative;
	display: flex;
}
.bubbles span 
{
	position: relative;
	min-width: 30px;
	height: 30px;
	background: #4fc3dc;
	box-shadow: 0 0 0 10px #4fc3dc44,
	0 0 50px #4fc3dc,
	0 0 100px #4fc3dc;
	margin: 0 4px;
	border-radius: 50%;
	animation: animate 15s linear infinite;
	animation-duration: calc(75s / var(--i));
}
.bubbles span:nth-child(even) 
{
	background: #ff2d75;
	box-shadow: 0 0 0 10px #ff2d7544,
	0 0 50px #ff2d75,
	0 0 100px #ff2d75;
}
@keyframes animate 
{
	0% 
	{
		transform: translateY(100vh) scale(0);
	}
	100% 
	{
		transform: translateY(-10vh) scale(1);
	}
}

/*#      Background Bubbles       */